#imgAplicativo {
    display: none;
}

.picture {
    width: 100px;
    height: 100px;
    background: #ddd;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #aaa;
    border: 1px dashed currentcolor;
    border-radius: 100px;
    cursor: pointer;
    font-family: sans-serif;
    transition: color 300ms ease-in-out, background 300ms ease-in-out;
    outline: none;
    overflow: hidden;
}

.picture:hover {
    color: #777;
    background: #ccc;
}

.picture:active {
    border-color: turquoise;
    color: turquoise;
    background: #eee;
}

.picture:focus {
    color: #777;
    background: #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.picture__img {
    height: 100px;
    border-radius: 50%;
}