:root{
/*  Variaveis de cores personalizadas */
 --color-bg-primary: #13216A;
 --color-bg-secondary: #fff;
}

html {
    background-color: #fff; /*VERIFICAR*/
}

html,
body {
    height: 100vh !important;
    margin: 0 !important;
}

* {
    font-family: 'Inter', sans-serif !important;
    font-size: 15px;
}

.ts-iframe{
    width: 100%; 
    height: 92vh; 
    border:none;
}

/* FUNDO da barra superior onde fica os aplicativos */
.ts-bgAplicativos{
    background-color: var(--color-bg-primary);
}

/*SELECT  de aplicativos quando estiver em dispositivos tablet e mobile*/
.ts-selectAplicativos{
    color:#FFF; 
    background-color: var(--color-bg-primary);
    border:none; 
    border-bottom:2px solid #fff
}

/*SELECT dos sub menus de aplicativos quando estiver em dispositivos tablet e mobile*/
.ts-selectSubMenuAplicativos{
    color:#000; 
    width:160px;
    text-align:center;
}

/* ESTILOS DE TABELAS */
.ts-headertabelafixo {
    background-color: var(--color-bg-primary);
    color: #fff;
    top: 0px;
    position: sticky;
}

.ts-headertabelafixo tr th{
    font-weight: 500;
}

.ts-divTabela{
    width: 100%;
    height: 76vh; 
    overflow-y:scroll; 
    overflow-x:auto;
}