:root{
    --nav-width: 250px;
    --nav-left: 0px;
    
}


*{
    margin: 0;
    padding: 0;  
    font-family: sans-serif; 
}

.Menu {
    background-color: #12192C;
    color: #FFF;
}
.Menu:hover {
    
    color: #FFF;
}v

.diviFrame {
    padding-left: 0px;
}
.diviFrame.mostra {
    padding-left: 250px;
}

.navbar ul {
   margin-right:100px;
}

.navbar ul li a:hover{
    /* color: #FFF; */
    font-weight: bold;
    /* background-color: #0f5f08; */
   /*  //border-top: 3px solid white; */
   /*  border-bottom: 0.5px solid white; */
}

.iFrame {
    width: 100%;
    height: 551px;
    overflow: hidden;
    overflow-x: hidden;
    border: 0px solid #000;
}

.menuLateral{
    background-color: #12192C; 
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    /*left: 30; */
    left: -250px; /* menu desaparece */  
    transition: left 0.5s;
}

.menuLateral .titulo{
    padding: 10px;

}

.menuLateral ul{ /* retira a "bolinha" do marcador de ul e li */
    list-style: none; 
}

.menuLateral ul li{ /* distancia entre os links */
    line-height: 40px;
    border-bottom: 0px solid white;
}

.menuLateral ul li a{
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold; 
    display: block; /* passa a assumir todo o elemento */
}
.menuLateral ul li a:hover{ /* Ao passar o mouse */
    background-color: #082b5f;
    transition: 0.5s;
    border-radius: 20px;
}

.menuLateral ul ul li a{
    font-size: 16px;
    font-weight: 300;
    padding-left: 60px;
    background-color: #12192C;
}

.menuLateral ul ul{
    display: none; /* sumir subimenus */
}


.btnAbre{
   /* position: absolute;*/
    top: 10px; /*15px*/
    /*left: 20px;*/
   /* background-color: black;*/
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-top: 7px;
}

.btnAbre span{
    font-size: 35px;
}

.btnCadastros{
    
     color: white;
    
     cursor: pointer;
     text-align: center;
     
 }
 

.menuLateral.mostra{
    left: 0px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menuLateral.esconde{
    left: -250px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menuLateral ul li a span{
    font-size: 30px;
    position: absolute;
    right: 30px;
    transition: 0.4s;
}

.menuLateral ul li a span.gira{
    transform: rotate(90deg);
}

.menusecundario{
    background-color: #12192C; 
    width: var(--nav-width);
    height: 100%;
    position: fixed;
    /*left: 30; */
    left: -250px; /* menu desaparece */  
    transition: left 0.5s;
}

.menusecundario .titulo{
    margin-top: 5px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 45px;
    font-size: 24px;
    border-bottom: 0px solid red;
}

.menusecundario ul{
    list-style: none; 
}

.menusecundario ul li a{
    margin-top: 5px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 30px;
    font-weight: bold; 
    display: block; /* passa a assumir todo o elemento */
}

.menusecundario ul li{ /* distancia entre os links */
    line-height: 40px;
    border-bottom: 0px solid white;
}

.menusecundario ul li a:hover{ /* Ao passar o mouse */
    background-color: #082b5f;
    transition: 0.5s;
}

.menusecundario.mostra{
    left: 0px; /* menu aparece */ 
    /*left: var(--nav-left);*/
}

.menusecundario.esconde{
    left: -250px; 
}

.menuLateral li a.logout{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    display: block;
    position: relative;
    margin-bottom: 500px;
    margin-right: 180px;
    cursor: pointer;
}